 <launch>
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_link"/>
    <param name="freq" value="20.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from="imu_data" to="/imu"/> 
    <!--<remap from="odom" to="/stm32_odom"/> edited-->
    <!--<remap from="vo" to="/camera/odom/sample"/> edited-->

  </node>
  <node name="odom_add_time" pkg="robot_control" type="odom_add_time" />
  <node name="serial_connect" pkg="rosserial_python" type="serial_node.py" >
    <param name="port" value="/dev/whbot"/>
    <param name="baud" value="115200"/>
  </node>
  <include file="$(find wit_node)/launch/wit.launch"/>
</launch>
